DJANGO_SECRET_KEY=replace-this-with-a-secret-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
NOVA_CART_DB_ENGINE=mariadb
NOVA_CART_DB_NAME=nova_cart_arcade
NOVA_CART_DB_USER=root
NOVA_CART_DB_PASSWORD=change-me
NOVA_CART_DB_HOST=127.0.0.1
NOVA_CART_DB_PORT=3306
